@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    font-family: Raleway, sans-serif;
}

header {
    background-color: black;
}

#logo {
    font-family: Cinzel, sans-serif;
    text-decoration: none;
    font-size: 230%;
    color: #fff;
    text-shadow:
        0 0 8px rgb(255, 255, 255),
        0 0 11px rgb(255, 255, 255),
        0 0 22px rgb(255, 255, 255),
        0 0 40px rgb(0, 255, 170),
        0 0 85px rgb(0, 255, 170),
        0 0 93px rgb(0, 255, 170),
        0 0 101px rgb(0, 255, 170),
        0 0 149px rgb(0, 255, 170);
}

/* Navigation links */

/* #nav-menu, #logo {
    line-height: 30px;
} */

#nav-menu li {
    list-style-type: none;
    float: right;
    margin-right: 50px;
    font-size: 210%;
}

#nav-menu a {
    text-decoration: none;
    color: rgb(0, 255, 170);
}

#nav-menu a:hover {
    border-style: none double;
}

/* Video */

#video-container {
    height: 600px;
    overflow: hidden;
    background-color: red;
}

/* #video {
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
} */

/* #video {
    position: fixed;
} */

/* Footer */

footer {
    height: 150px;
    background-color: black;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    color: rgb(0, 255, 170);
    margin: 60px;
}